#Домашнє завдання до теми "Цикл while"

1. **Лічильник до заданого числа.**
   Завдання:
     - Створіть цикл `while`, щоб він лічив від 1 до заданого числа в змінній `limit` (включно).
     - Виведіть кожне число, яке проходить лічильник, на екран.
     - В кінці виведіть повідомлення "Кінець розрахунку!".

In [ ]:
limit = 9  # Задане число

In [ ]:
i = 1
while i <= limit:
  print(i)
  i += 1
print("Кінець розрахунку!")

1
2
3
4
5
6
7
8
9
Кінець розрахунку!

2. **Пошук першого парного числа.** Завдання:
     - Створіть цикл `while`, щоб знайти перше парне число після заданого числа `start`.
     - Знайдіть та виведіть перше парне число.

In [ ]:
start = 7  # Задане число

In [ ]:
while True:
  if start % 2 == 0:
    break
  start += 1
print(start)

8


3. **Обчислення факторіалу.**   
  Факторіал числа - це добуток всіх натуральних чисел від 1 до цього числа включно. Наприклад, факторіал числа 5 (позначається як 5!) дорівнює `1 * 2 * 3 * 4 * 5 = 120`.

  Завдання:  
      - Обчисліть факторіал заданого числа, використовуючи цикл `while`.  
      - Задайте деяке число для обчислення факторіалу у змінній `num`.  
      - Виведіть обчислений факторіал на екран.

In [ ]:
result = 1
num = 1
fact = 10

while num <= fact:
    result *= num
    num += 1
print(result)

3628800